.wrapper_with_padding
  #students.clearfix
    - unless @students.blank?
      - @students.each do |doc|
        %a{href: (url_for [doc])}
          .doc
            %p.name= doc.name
    - else
      %h2 Create Student
      %button= link_to "Create Student", new_student_path
  .buttons
    = link_to "Create Student", new_student_path, class: "button"
